<% @title =  "All Chefs" +
            (   params.has_key?("sort_by") ? (   params[:sort_by] == "name"    ? " by: Name"
                                               : params[:sort_by] == "popular" ? " by: Most Popular"
                                               : ""
                                             )
              : ""
            )
%>

<%= render 'shared/page_title', title: @title %>
  
<% #Common dashboard/sandbox container nav bar  %>
<%= render 'layouts/dashboard_navigation' %>

<div class="recipes_index_top_pagination">
  <%= will_paginate %><%#= render 'shared/paginationInfo', obj: @pagination %>
</div>
  

<% @chefs.each do |chef| %>

  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center" title = "<%#= chef.email %>" >
        <%= link_to(gravatar_for(chef, size: 160), chef_path(chef)) %>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to chef.name, chef_path(chef) %></h4>
      <p><%= chef.about_me %></p>
      <br/><br/>
      <p>
        <span title="All recipes from this chef">
          <%= link_to("Recipes:", chef_recipes_path(chef)) %>   <%= chef.recipes.size.to_s %></span> &nbsp;&nbsp;
        <span title="All recipes from this chef that have a review"> 
          <%= link_to("With reviews:", chef_reviews_path(chef, given: false)) %>  <%= chef.reviews.size.to_s %></span> &nbsp;&nbsp;
        <span title="All recipes from this chef which have received a thumbs up">
          <%= link_to chef_recipes_path(chef, likes: true) do %>
            &nbsp;Recipes given a &nbsp;<i class="glyphicon glyphicon-thumbs-up"></i>
          <% end %> &nbsp;<%= chef_recipes_likes(chef, "up").to_s %></span>
        <span title="All recipes from this chef that have received a thumbs down">
          <%= link_to chef_recipes_path(chef, likes: false) do %>
            &nbsp;  or a &nbsp;<i class="glyphicon glyphicon-thumbs-down"></i>
          <% end %> &nbsp; <%= chef_recipes_likes(chef, "down").to_s %></span>
      </p>
    </div>
    
  </div>
  <hr/>
<% end %>

<%= will_paginate %>