<% # Show chef profile: (inputs: @chef -> Chef object)
#  1. Page title
#  2. Picture/gravatar of chef
#  3. Summary list of recipes by this chef
%>

<%= render 'shared/page_title', title: 'Chef: ' + @chef.name %>
  
<% #Common dashboard/sandbox container nav bar  %>
<%= render 'layouts/dashboard_navigation' %>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center" title = <%= @chef.email %> >
    <%= gravatar_for(@chef, size: 200) %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center chefs_recipes_index_top_pagination">
    <h3><em>Recipes <h5>
      <%#= render 'shared/paginationInfo', obj: @pagination %></h5></em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<% @recipes.each do |recipe| %>

<div class="row">   
  <div class="col-lg-6 well col-lg-offset-3">
    <h4><%= link_to(recipe.name, recipe_path(recipe)) %></h4>
    <p><%= recipe.summary %></p>
    <p>
      <span class='quiet'><small> created: <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
      <span class='quiet'><small> updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
    </p>
    <div class="pull-right">
      
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= recipe.thumbs_up_total() %>
        <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= recipe.thumbs_down_total() %>
        <% end %>
      
    </div>
  </div>
</div>
<% end %>
