
<%= render 'shared/page_title', title: @recipe.name %>
  
<% #Common dashboard/sandbox container nav bar  %>
<%= render 'layouts/dashboard_navigation' %>
<br><br>

<div class="row">
  
  <div class="col-md-4 pull-right center" title = "<%#= @recipe.chef.email %>">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
      <p>
        <h5>Brought to you by: <%= @recipe.chef.name %></h5>
      </p>
  </div>
  
  <div class="col-md-8">
    <% if logged_in? && (@recipe.chef == current_user || current_user.admin?)%>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: { confirm: "Are you sure?" } %> 
    <% end %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%#= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    <div class="well">
      <% if @recipe.styles.any? %>
        <% # render from partials and interate through all items %>
        <p>Styles: <%= render @recipe.styles %></p>
      <% end %>
      <% if @recipe.ingredients.any? %>
        <p>Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <% if @recipe.categories.any? %>
        <p>Categories: <%= render @recipe.categories %></p>
      <% end %>
      <% if @recipe.preptimes.any? %>
        <p>Time to Prepare: <%= render @recipe.preptimes %></p>
      <% end %>
      <% if @recipe.diets.any? %>
        <p>Diets: <%= render @recipe.diets %></p>
      <% end %>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @recipe.thumbs_up_total() %>
        <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= @recipe.thumbs_down_total() %>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>
</div> 
 
<div class="row">
  <div class="col-md-8 reviews_heading">
    <%# if logged_in? %>
      <%= link_to "New Review", new_recipe_review_path(@recipe), class: "btn btn-warning pull-right center" %>
    <%# end %>
    <label>Reviews<%= @reviews.any? ? "" : " (0)" %></label>
    <span>
      <%= will_paginate @reviews %>                  
    </span>
  </div>
</div>

<% @reviews.each do |review| %>
<div class="row">
  <div class="col-md-6 reviews">
    <div class="well">
      <span>
      <% # if logged_in? %>
        <% # "Edit", edit_recipe_review_path(recipe_id: @recipe, id: review) %>
        <%= link_to("Edit", edit_review_path(review), class: "btn btn-success") %>
      <% # end %>
      </span> 
      <label>Reviewed by:&nbsp;&nbsp;<%= link_to(review.chef.name, chef_path(review.chef)) %></label>
      <span class='quiet'><small>&nbsp;&nbsp;<%= time_ago_in_words(review.created_at) %> ago </small></span>
      <%= simple_format(review.description) %>
    </div>
  </div>
</div> 
<% end %>


