
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for object do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit(object.new_record? ? 'Create ' + type : 'Edit ' + type, class: "btn btn-success") %>
    <% end %>
  </div>
</div>

<% if !object.new_record? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 center">
    <%= link_to "Delete " + type, object, method: :delete, class: "btn btn-danger" , data: { confirm: "Are you sure?" } %> 
  </div>
</div>
<% end %>
