<% # Show chef profile: (inputs: @chef -> Chef object)
#  1. Page title
#  2. Picture/gravatar of chef
#  3. Summary list of reviews by this chef or for this chef
%>

<% @title =  "All Reviews" +
            (   params.has_key?("sort_by") ? (   params[:sort_by] == "recent"  ? " by: Most Recent"
                                               : params[:sort_by] == "popular" ? " by: Most Popular"
                                               : ""
                                             ) 
              : params.has_key?("given")   ? (   params[:given]   == "true"    ? ": given by Me"
                                               : ": received"
                                             )
              : ""
            )
%>

<%= render 'shared/page_title', title: @title%>
  
<% #Common dashboard/sandbox container nav bar  %>
<%= render 'layouts/dashboard_navigation' %>
<br>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center reviews_chef_index_top_pagination">
    <%= will_paginate @reviews %>
  </div>
</div>

<% @reviews.each do |review|
  if !review.recipe
    binding.pry
  end
%>
<div class="row">   
  <div class="col-lg-6 well col-lg-offset-3">
    <h4><%= link_to(review.recipe.name, recipe_path(review.recipe)) %>
      <%= @options[:b_filter_by_recieved] ? "" : (" by Chef: " + review.recipe.chef.name) %>
    </h4>
    <%= review.recipe.summary %>
    <div class="pull-right">
      <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= review.recipe.thumbs_up_total() %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= review.recipe.thumbs_down_total() %>
    </div>
    <strong>____________________________________________________________________</strong>
    <h4>
      <%= @options[:b_filter_by_given] ? "My Review" : ("Reviewed by " + review.chef.name) %>
         &nbsp;<small><%= time_ago_in_words(review.updated_at) %> ago:</small>
       <%= link_to "edit", edit_review_path(review), class: "btn btn-success pull-right" %>
      </h4>
    <p>
      <%= review.description %>
    </p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate @reviews %>
  </div>
</div>
