<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes: 5.0 \workspace\app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% #Common header nav bar  %>
  <%= render 'layouts/navigation' %>
  
  <% #Body %>
  <div class="container">
    <% #Error messages %>
    <%= render 'layouts/messages' %>
    <% #Auto include all files under views/layouts/ %>
    <%= yield %>
  </div>

  <% #Common footer %>
  <%= render 'layouts/footer' %>
  
</body>
</html>
